* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    background-image: url(./img/ShakiraFondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    height: fit-content;
}

header {
    background-color: black;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.header__checkbox {
    display: none;
}

.header__open-nav-button {
    display: none;
}

.nav {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate {
    border-radius: 50%;
    width: 65px;
    animation: rotateAnimation 6s infinite linear;
    left: 600px;
}

.rotate2 {
    border-radius: 50%;
    width: 65px;
    animation: rotateAnimation 6s infinite linear;
    right: 600px;
}


@keyframes rotateAnimation {
    to {
        transform: rotate(360deg);
    }
}

.menu-container-list {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container-item {
    letter-spacing: 5px;
    font-weight: 690;
    transition: background 3s ease;
}


.menu-item {
    border: 1px solid #f66b40;
    padding: 10px;
    background-color: black;
    color: #f66b40;
    text-shadow: 0px 0px 9px #f66b40;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 10px 20px;
}

.menu-item:hover {
    background: #ffefc1;
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

h1 {
    font-size: 50px;
    color: #ffefc1;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 0px 0px 9px #f66b40;
    margin-top: 50px;
}

.centrado {
    padding-top: 10px;
    font-size: 50px;
    color: #ffefc1;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 0px 0px 9px #f66b40;
    text-align: center;

}

.justificado {
    display: flex;
    justify-content: justify;
}

.espacio {
    padding: 20px;
    margin: auto;
    text-wrap: pretty;
    letter-spacing: 2.5px;
    font-size: 18px;
    font-weight: 600;
}

.parrafo-container {
    margin: 100px;
}

.parrafo {
    display: flex;
    max-width: 75em;
    margin: 20px 120px 100px 120px;
    align-content: center;
    text-align: justify;
    border-radius: 20px;
    background-color: #ffefc1;
    padding: 15px;
    /* border: 2px solid #f66b40;*/
}


.imagen {
    border-radius: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
}


/*Formulario*/
.form-wrap {
    margin: 40px 500px 100px 500px;
    /*darkgoldenrod;*/
    padding: 10px 25px;
    background-color: #ffefc1;
    /* border: 2px solid #f66b40;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    border-radius: 20px;
}

.form_input_textarea {
    border: none;
    border-left: 3.5px solid #f8d15e;
    border-radius: 2px;
    box-shadow: 0 0 3.5px #0006;
    padding: 6px;
}

.label {
    margin: 20px 0 10px 0;
    text-align: start;
    font-weight: 550;
    letter-spacing: 2px;
}

.form_input {
    display: flex;
    flex-direction: column;
}


p {
    text-align: left;
}

.form-subtitle {
    font-size: 1.5em;
    color: black;
    font-weight: 700;
    margin: 15px;
    text-wrap: balance;
}


.input-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.parrafo-genero {
    margin: 20px auto 0;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
    text-wrap: pretty
}

.label-title {
    margin: 20px 0 10px 0;
}

.file {
    margin-top: 20px;
}

.genero {
    margin: 20px 0 10px 0;
    text-align: center;
}

.btn {
    cursor: pointer;
    display: block;
}

.button {
    margin: 20px;
    width: 150px;
}


footer {

    color: #ffefc1;
    text-shadow: 0px 0px 9px #f66b40;
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

h3 {
    text-decoration: underline;
}

i {
    color: #ffefc1;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    border-radius: 10%;
    padding: 15px;
}

.fa-youtube:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0px 40px red;
}

.fa-facebook-f:hover {
    background-color: #1877f2;
    color: white;
    box-shadow: 0 0px 40px #1877f2;
}

.fa-instagram:hover {
    background-color: #D43089;
    color: white;
    box-shadow: 0 0px 40px #D43089;
}

.fa-spotify:hover {
    background-color: #1DB954;
    color: white;
    box-shadow: 0 0px 40px #1DB954;
}

.fa-twitter:hover {
    background-color: #1DA1F2;
    color: white;
    box-shadow: 0 0px 40px #1DA1F2;
}

.fa-tiktok:hover {
    background-color: #25F4EE;
    color: white;
    box-shadow: 0 0px 40px #25F4EE;
}

.fa-apple:hover {
    background-color: #fc3c44;
    color: white;
    box-shadow: 0 0px 40px #fc3c44;
}


/* Teléfonos pequeños */
@media screen and (max-width: 360px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: column;
        max-width: 100dvw;
        margin: 20px 0 50px 0;
    }

    .parrafo-container {
        margin: 0;
    }

    .rotate {
        animation: none;
    }

    .form-wrap {
        width: 100dvw;
        margin: 40px 0 50px 0;
        padding: 10px;
    }

    .imagen {
        margin: auto;
    }


    .favicon:last-child {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }


    .header__open-nav-button {
        display: block;
        font-size: 70px;
        color: #fff;
        z-index: 60;
    }

    .nav {
        display: none;
        font-size: 3em;
        font-weight: 600;
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        top: 0;
        z-index: -1;
    }

    .menu-container-list {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-height: 40dvh;
        gap: 20px;
    }

    .menu-item {
        color: #000;
        font-weight: 700;
        font-size: 1.2em;
        padding: 0;
        background-color: transparent;
        border: none;
        text-shadow: none;
    }

    .header__checkbox:checked~body {
        display: none;
        overflow: hidden;
    }

    .header__checkbox:checked~.nav {
        display: flex;
        position: fixed;
        height: 100%;
        z-index: 50;
        background-color: #ffffff;

    }

    .header__checkbox:checked~.header__open-nav-button {
        color: #000;
        position: fixed;
        right: 18dvw;
    }
}

/* Teléfonos pequeños en modo paisaje y medianos en modo retrato */


@media screen and (max-width: 480px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: column;
        max-width: 100dvw;
        margin: 20px 0 50px 0;
    }

    .parrafo-container {
        margin: 0;
    }

    .rotate {
        animation: none;
    }

    .form-wrap {
        width: 100%;
        margin: 40px 0 50px 0;
    }

    .imagen {
        margin: auto;
    }


    .favicon:last-child {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }


    .header__open-nav-button {
        display: block;
        font-size: 70px;
        color: #fff;
        z-index: 60;
    }

    .nav {
        display: none;
        font-size: 3em;
        font-weight: 600;
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        top: 0;
        z-index: -1;
    }

    .menu-container-list {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 20px;
        z-index: 100;
    }

    .menu-item {
        color: #000;
        font-weight: 700;
        font-size: 1.2em;
        padding: 0;
        background-color: transparent;
        border: none;
        text-shadow: none;
    }

    .header__checkbox:checked~body {
        display: none;
        overflow: hidden;
    }

    .header__checkbox:checked~.nav {
        display: flex;
        position: fixed;
        z-index: 50;
        background-color: #ffffff;
        width: 150dvw;
    }

    .header__checkbox:checked~.header__open-nav-button {
        color: #000;
        position: fixed;
        right: 18dvw;
    }
}


/* Tablets en modo retrato */
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: column;
        max-width: 100dvw;
        margin: 20px 0 50px 0;
    }

    .parrafo-container {
        margin: 0;
    }

    .rotate {
        animation: none;
    }

    .form-wrap {
        width: 100%;
        margin: 40px 0 50px 0;
    }

    .imagen {
        margin: auto;
    }


    .favicon:last-child {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }


    .header__open-nav-button {
        display: block;
        font-size: 70px;
        color: #fff;
        z-index: 60;
    }

    .nav {
        display: none;
        font-size: 3em;
        font-weight: 600;
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        top: 0;
        z-index: -1;
    }

    .menu-container-list {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 20px;
        z-index: 100;
    }

    .menu-item {
        color: #000;
        font-weight: 700;
        font-size: 1.2em;
        padding: 0;
        background-color: transparent;
        border: none;
        text-shadow: none;
    }

    .header__checkbox:checked~body {
        display: none;
        overflow: hidden;
    }

    .header__checkbox:checked~.nav {
        display: flex;
        position: fixed;
        z-index: 50;
        background-color: #ffffff;
        width: 150dvw;
    }

    .header__checkbox:checked~.header__open-nav-button {
        color: #000;
        position: fixed;
        right: 18dvw;
    }


}

/* Tablets en modo paisaje */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: row;
        align-items: center;
        max-width: 100dvw;
        margin: 20px 50px 80px 50px;
    }

    .parrafo-container {
        margin: 0;
    }

    h1 {
        margin-bottom: 40px;
    }

    .form-wrap {
        max-width: 100dvw;
        margin: 40px 0 50px 0;
    }

    header {
        background-color: black;
        width: 100dvw;
        padding: 30px 0;
        display: flex;
        justify-content: space-evenly;
    }

    .header__checkbox {
        display: none;
    }

    .header__open-nav-button {
        display: none;
    }

    .nav {
        display: flex;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rotate {
        border-radius: 50%;
        width: 65px;
        animation: rotateAnimation 6s infinite linear;
        left: 600px;
    }

    .rotate2 {
        border-radius: 50%;
        width: 65px;
        animation: rotateAnimation 6s infinite linear;
        right: 600px;
    }


    @keyframes rotateAnimation {
        to {
            transform: rotate(360deg);
        }
    }

    .menu-container-list {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-container-item {
        letter-spacing: 5px;
        font-weight: 690;
        transition: background 3s ease;
    }


    .menu-item {
        border: 1px solid #f66b40;
        padding: 10px;
        background-color: black;
        color: #f66b40;
        text-shadow: 0px 0px 9px #f66b40;
        text-transform: uppercase;
        border-radius: 50px;
        margin: 10px 20px;
    }

    .menu-item:hover {
        background: #ffefc1;
    }
}

/* PCs pequeños */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: row;
        align-items: center;
        max-width: 100dvw;

    }

    .form-wrap {
        max-width: 100dvw;
    }

    header {
        background-color: black;
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-evenly;
    }

    .header__checkbox {
        display: none;
    }

    .header__open-nav-button {
        display: none;
    }

    .nav {
        display: flex;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rotate {
        border-radius: 50%;
        width: 65px;
        animation: rotateAnimation 6s infinite linear;
        left: 600px;
    }

    .rotate2 {
        border-radius: 50%;
        width: 65px;
        animation: rotateAnimation 6s infinite linear;
        right: 600px;
    }


    @keyframes rotateAnimation {
        to {
            transform: rotate(360deg);
        }
    }

    .menu-container-list {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-container-item {
        letter-spacing: 5px;
        font-weight: 690;
        transition: background 3s ease;
    }


    .menu-item {
        border: 1px solid #f66b40;
        padding: 10px;
        background-color: black;
        color: #f66b40;
        text-shadow: 0px 0px 9px #f66b40;
        text-transform: uppercase;
        border-radius: 50px;
        margin: 10px 20px;
    }

    .menu-item:hover {
        background: #ffefc1;
    }


}

/* PCs grandes */
@media screen and (min-width: 1201px) {

    /* Estilos específicos */
    .parrafo {
        flex-direction: row;
        align-items: center;
        max-width: 100dvw;

    }

    .form-wrap {
        max-width: 100dvw;
    }

}