* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}


body {
    background-image: url(./img/ShakiraFondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    height: fit-content;
}



header {
    background-color: black;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    display: flex;
}


.rotate {
    border-radius: 50%;
    width: 65px;
    animation: rotateAnimation 6s infinite linear;
    left: 600px;
}

.rotate2 {
    border-radius: 50%;
    width: 65px;
    animation: rotateAnimation 6s infinite linear;
    right: 600px;
}



@keyframes rotateAnimation {
    to {
        transform: rotate(360deg);
    }
}

.menu-container-list {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container-item {
    letter-spacing: 5px;
    font-weight: 690;
    transition: background 3s ease;
}


.menu-item {
    border: 1px solid #f66b40;
    padding: 10px;
    background-color: black;
    color: #f66b40;
    text-shadow: 0px 0px 9px #f66b40;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 10px 20px;
}

.menu-item:hover {
    background: #ffefc1;
}




.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-icons-container {

    position: absolute;
    display: flex;
    align-items: center;
    padding: 40px 40px 30px 40px;
    margin-left: 70dvw;
    gap: 50px;
}

.fi {
    font-size: 18px;
}


.hero-img {
    background: url(./img/shakira-fucsia-hero-desktop.png)center/cover;
    width: 100%;
    height: 82.3dvh;
    margin: 20px 0;
}

.collection-title {
    padding-top: 10px;
    font-size: 50px;
    color: #ffefc1;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 0px 0px 9px #f66b40;
    text-align: center;
}


.shakira-collection-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfume-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px 50px 35px 50px;
}

.shakira-img-container {
    display: flex;
    justify-content: center;
}

.perfume-img-tam {
    max-width: 20dvw;
    border-radius: 10px;
}

.perfume-img-tam:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

.perfume-description-container {
    display: flex;
    flex-direction: column;
}


.perfume-description {
    color: #ffefc1;
    display: flex;
    align-items: center;
    width: 20dvw;
    height: 70px;
    min-height: 60px;
    margin-bottom: 20px;
    font-weight: 610;
    text-wrap: pretty;
}

.perfume-title {
    color: #ffefc1;
    text-shadow: 0px 0px 9px #f66b40;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin: 20px 0 20px 0;
}


.perfume-price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffefc1;
}


.buy-button {
    background-color: #000b;
    color: #ffefc1;
    font-weight: 600;
    letter-spacing: 2.5px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgb(241, 241, 241)
}

.dance-collection-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dance-perfume-container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 35px 50px 35px 50px;
}

.line {
    width: 100%;
    height: 1.2px;
    background-color: black;
}


footer {

    color: #ffefc1;
    text-shadow: 0px 0px 9px #f66b40;
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    

}

h3 {
    text-decoration: underline;
}

i {
    color: #ffefc1;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    border-radius: 10%;
    padding: 15px;
}

.fa-youtube:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0px 40px red;
}

.fa-facebook-f:hover {
    background-color: #1877f2;
    color: white;
    box-shadow: 0 0px 40px #1877f2;
}

.fa-instagram:hover {
    background-color: #D43089;
    color: white;
    box-shadow: 0 0px 40px #D43089;
}

.fa-spotify:hover {
    background-color: #1DB954;
    color: white;
    box-shadow: 0 0px 40px #1DB954;
}

.fa-twitter:hover {
    background-color: #1DA1F2;
    color: white;
    box-shadow: 0 0px 40px #1DA1F2;
}

.fa-tiktok:hover {
    background-color: #25F4EE;
    color: white;
    box-shadow: 0 0px 40px #25F4EE;
}

.fa-apple:hover {
    background-color: #fc3c44;
    color: white;
    box-shadow: 0 0px 40px #fc3c44;
}